/* body{
     background-image: url(images/icon.png); 
    background-blend-mode: screen;
}    */
h1{
    color:rgb(99, 204, 204) ;
    background-color: rgb(210, 235, 235);
    text-align: center;
}
ul{
    display: flex; 
   padding-left: 900px;   
}